{% extends "../extends/main.html" %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/topImage.css' %}">
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

{% endblock styles %}

{% block content %}

<div class="top-image">
    <div class="first center-align">Your</div>
    <div class="second center-align">Cart</div>
</div>

<div class="container">
    {% if cart %}
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Product</th>
                <th>Price</th>
                <th>Quality</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for c in cart %}
            <tr>
                <td><img src="/{{  c.product_id.picture_1 }}" alt="product image" width="50px" height="50px"></td>
                <td>{{ c.product_id.name }}</td>
                <td>{{ c.product_id.price }}</td>
                <td>{{ c.quantity }}</td>
                <td>{{ c.quantity }} * {{ c.product_id.price }}</td>
                <td>
                    <form method="post" action="/cart/delete">{% csrf_token %}
                        <input name="cart_id" type="number" hidden value="{{ c.id }}">
                        <input name="submit" type="submit" class="cross" value="X">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{#    <div class="row">#}
{#        <div class="col s12 center-align" style="margin-top: 50px;">#}
{#            <a class="btn  grey" href="/payment">Place order</a>#}
{#        </div>#}
{#    </div>#}
    {% else %}
    <div class="row">
        <div class="col s12 center-align">
            <h3>Grab Some Stuff</h3>
        </div>
    </div>
    {% endif %}

</div><br><br><br><br>
<div class="row">
    <div class="col s12 m4">

    </div>
    <div class="col s12 m4">
        Discount Codes<hr>
        <form method="post" action=""> {% csrf_token %}
            <label>Enter your coupon code if you have one.</label>
            <input name="coupon-code" class="my-form" type="text" >
            <input type="submit" class="my-form" value="Apply Coupon">
        </form>
    </div>
    <div class="col s12 m4">
        Shopping Cart Total<hr>
        <table>
            <tbody>
                <tr>
                    <td>Subtotal</td>
                    <td><i class="fa fa-inr"></i> {{ subtotal }}</td>
                </tr>
                <tr>
                    <td>Grandtotal</td>
                    <td><i class="fa fa-inr"></i> {{ total }}</td>
                </tr>
                <tr>
                    <td>
                        <div class="row">
                            <div class="col s12 center-align" >
                                <a class="btn  green" href="/payment">Place order</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}