<!DOCTYPE html>
{% load static%}
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff" rel="stylesheet">
    {% comment %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'css/navbar.css'%}">
    {% block styles %}

    {% endblock styles %}

    <title>
        {% block title %}

        {% endblock title %}
    </title>
</head>

<body>
    {% include "./navbar.html" %}

    {% block content %}

    {% endblock content %}


    <footer class="page-footer grey darken-3" >
        
        <div class="row" style="margin: 10px;">
            <div class="col s12 m3">
                <h4 class="white-text" style="margin-top: 0;">Chef's Solution</h4>
                <p class="grey-text">Cannot Place, New Delhi</p>
                <p class="grey-text">abc@abc.com</p>
                <p class="grey-text">1234567890</p>
            </div>
            <div class="col s12 m2 offset-m1">
                <h6 class="green-text">Quick Links</h6>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="{% url 'blog:recipe' %}">Blog</a></li>
                    <li><a class="grey-text text-lighten-3" href="{% url 'products:all_products' %}?category=none">Products</a></li>
                </ul>
            </div>

            <div class="col s12 m2">
                <h6 class="green-text">Information</h6>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Privacy Policy</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">User Policy</a></li>
                </ul>
            </div>
        </div>
        
        <div class="footer-copyright">
            <div class="container center-align">
                <h6>&copy; Chef's Solution</h6>
            </div>
        </div>
    </footer>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}" ></script>
    <script  src="{% static 'js/materialize.min.js' %}"></script>

    {% block scripts %}

    {% endblock scripts %}

</body>

</html>