{% extends '../extends/main.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/topImage.css' %}">
{% endblock styles %}   

{% block content %}
<div class="top-image">
    <div class="first center-align">
        <span>
            About
        </span>
    </div>
    <div class="second center-align">
        <span>
            Us
        </span>
    </div>
</div>

<div class="container">
    <p class="flow-text">
        Chef Solutions is a house brand of Namosri Ventures Pvt. Ltd. (NVPL). NVPL is specializing in high quality and innovative food brands serving primarily to Food Service sector. We offer a comprehensive range of ingredients spread across segments of Coating, Breading, Bakery, Seasonings, Marinades, Gravies, Sauces, Broths and Specialty Ingredients for Food Service as well as Food Industry applications. 
    </p>
    <p class="flow-text">
        Chef Solutions is chefs’ best friend as it enables chefs to serve delicious, wholesome meals to their guests. The brand creates essential ingredients that save precious preparation time in the kitchen, without compromising on the flavour. Being part of NVPL, Chef Solutions uses the highly-skilled R&D and Chefs’ team to create product compositions that are rich and flavoursome. The ingredients allow chefs to experiment with flavour and add their magic to the dishes. 
    </p>
    <p class="flow-text"> 
        We are extremely passionate about great food and this has allowed us to develop state-of-the-art product range. Every day, thousands of Chefs use our products at star hotels, stand-alone restaurants, chain restaurants, QSRs, and catering businesses to please the palette of their discerning customers.
    </p>
</div>

{% endblock content %}