{% extends "../extends/main.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/index.css'%}" />
{% endblock styles %}

{% block title %}
Chef's Solution
{% endblock title %}

{% block content %}
<div class="first">
    <div class="welcome center-align">
        <span>Welcome</span>
    </div>
    <div class="solution center-align">
        <span>THE CHEF'S SOLUTION</span>
    </div>
</div>
<div class="down-arrow">
    <div class="arrow"></div>
</div>

<div class="my-card section">
    <div class="row container">
        <div class="col s12 card-panel">
            <div class="row">
                <div class="col s12 m6">
                    <span>Discover</span>
                    <p class="flow-text center-align">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad nihil porro voluptatem blanditiis
                        et consequatur modi delectus debitis soluta perferendis est sapiente, veniam alias
                        necessitatibus explicabo repudiandae numquam cumque voluptate!
                    </p>
                </div>
                <div class="col s12 m6 bgimage">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="my-card section">
    <div class="row container">
        <div class="col s12 card-panel">
            <div class="row">
                <div class="col s12 m6">
                    <span>Discover</span>
                    <p class="flow-text center-align">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad nihil porro voluptatem blanditiis
                        et consequatur modi delectus debitis soluta perferendis est sapiente, veniam alias
                        necessitatibus explicabo repudiandae numquam cumque voluptate!
                    </p>
                </div>
                <div class="col s12 m6 bgimage">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{%static 'js/index.js'%}"></script>
{% endblock scripts %}