{% extends "../extends/main.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/index.css'%}" />
{% endblock styles %}

{% block title %}
Chef's Solution
{% endblock title %}

{% block content %}
<div class="first">
    <div class="welcome center-align">
        <span>Welcome</span>
    </div>
    <div class="solution center-align">
        <span>THE CHEF'S SOLUTION</span>
    </div>
</div>
<div class="down-arrow">
    <div class="arrow"></div>
</div>

<div class="my-card section">
    <div class="row container">
        <div class="col s12 card-panel">
            <div class="row">
                <div class="col s12 m6">
                    <span>Discover</span>
                    <p class="flow-text center-align">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad nihil porro voluptatem blanditiis
                        et consequatur modi delectus debitis soluta perferendis est sapiente, veniam alias
                        necessitatibus explicabo repudiandae numquam cumque voluptate!
                    </p>
                </div>
                <div class="col s12 m6 bgimage">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="my-card section">
    <div class="row container">
        <div class="col s12 card-panel">
            <div class="row">
                <div class="col s12 m6">
                    <span>Discover</span>
                    <p class="flow-text center-align">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad nihil porro voluptatem blanditiis
                        et consequatur modi delectus debitis soluta perferendis est sapiente, veniam alias
                        necessitatibus explicabo repudiandae numquam cumque voluptate!
                    </p>
                </div>
                <div class="col s12 m6 bgimage">
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="page-footer grey darken-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer
                    content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>
{% endblock content %}

{% block scripts %}
<script src="{%static 'js/index.js'%}"></script>
{% endblock scripts %}