{% extends "../extends/main.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/topImage.css' %}">
{% endblock styles %}

{% block content %}

<div class="container">
    <h3>Products</h3>
    {% if product %}

        {% if product.productName %}
        <h5>Products With Name Matches</h5>
        {% for pro in product.productName %}
        <div class="card blue-grey darken-1">
            <a href="{% url 'products:product_details' pid=pro.id %}">
                <div class="card-content white-text">
                    <span class="card-title">{{ pro.name }}</span>
                    <p>Name = {{ pro.name }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
        {% else %}
        {% endif %}

        {% if product.productDescription %}
        <h5>Products With Description Matches</h5>
        {% for pro in product.productDescription %}
        <div class="card blue-grey darken-1">
            <a href="{% url 'products:product_details' pid=pro.id %}">
                <div class="card-content white-text">
                    <span class="card-title">{{ pro.name }}</span>
                    <p>Description = {{ pro.description }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
        {% else %}
        {% endif %}

        {% if product.productUses %}
        <h5>Products With Use of Product Matches</h5>
        {% for pro in product.productUses %}
        <div class="card blue-grey darken-1">
            <a href="{% url 'products:product_details' pid=pro.id %}">
                <div class="card-content white-text">
                    <span class="card-title">{{ pro.name }}</span>
                    <p>Product Uses = {{ pro.uses }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
        {% else %}
        {% endif %}

        {% if product.productBenefits %}
        <h5>Products With Benefits of Product Matches</h5>
        {% for pro in product.productBenefits %}
        <div class="card blue-grey darken-1">
            <a href="{% url 'products:product_details' pid=pro.id %}">
                <div class="card-content white-text">
                    <span class="card-title">{{ pro.name }}</span>
                    <p>Product Benefits = {{ pro.benefits }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
        {% else %}
        {% endif %}

        {% if product.productIngridients %}
        <h5>Products With Ingridients Matches</h5>
        {% for pro in product.productIngridients %}
        <div class="card blue-grey darken-1">
            <a href="{% url 'products:product_details' pid=pro.id %}">
                <div class="card-content white-text">
                    <span class="card-title">{{ pro.name }}</span>
                    <p>Product Ingridients = {{ pro.ingridients }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
        {% else %}
        {% endif %}

        {% if product.productDirection %}
        <h5>Products With Directions of Use Matches</h5>
        {% for pro in product.productDirection %}
        <div class="card blue-grey darken-1">
            <a href="{% url 'products:product_details' pid=pro.id %}">
                <div class="card-content white-text">
                    <span class="card-title">{{ pro.name }}</span>
                    <p>Direction of Use = {{ pro.directions }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
        {% else %}
        {% endif %}

    {% else %}
        <p class="flow-text">No Product Found</p>
    {% endif %}

    <h3>Recipes</h3>
    {% if recipe %}

        {% if recipe.recipeName %}
        <h5>Recipes With Name Matches</h5>
        {% for rec in recipe.recipeName %}
        <div class="card blue-grey darken-1">
            <a href="{% url 'blog:recipesDetail' id=rec.id %}">
                <div class="card-content white-text">
                    <span class="card-title">{{ rec.name }}</span>
                    <p>Name = {{ rec.name }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
        {% else %}
        {% endif %}

        {% if recipe.recipeIngredients %}
        <h5>Recipes With Ingredients Matches</h5>
        {% for rec in recipe.recipeIngredients %}
        <div class="card blue-grey darken-1">
            <a href="{% url 'blog:recipesDetail' id=rec.id %}">
                <div class="card-content white-text">
                    <span class="card-title">{{ rec.name }}</span>
                    <p>Ingredients = {{ rec.ingredients }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
        {% else %}
        {% endif %}

        {% if recipe.recipeFoodGroup %}
        <h5>Recipes With Food Groupt Matches</h5>
        {% for rec in recipe.recipeFoodGroup %}
        <div class="card blue-grey darken-1">
            <a href="{% url 'blog:recipesDetail' id=rec.id %}">
                <div class="card-content white-text">
                    <span class="card-title">{{ rec.name }}</span>
                    <p>Food Group = {{ rec.food_group }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
        {% else %}
        {% endif %}

        {% if recipe.recipeCookingProcessName %}
        <h5>Recipes With Cooking Process Name Matches</h5>
        {% for rec in recipe.recipeCookingProcessName %}
        <div class="card blue-grey darken-1">
            <a href="{% url 'blog:recipesDetail' id=rec.id %}">
                <div class="card-content white-text">
                    <span class="card-title">{{ rec.name }}</span>
                    <p>Cooking Process Name = {{ rec.cooking_process_name }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
        {% else %}
        {% endif %}

        {% if recipe.recipeCookingProcessMethod %}
        <h5>Recipes With Cooking Process Method Matches</h5>
        {% for rec in recipe.recipeCookingProcessMethod %}
        <div class="card blue-grey darken-1">
            <a href="{% url 'blog:recipesDetail' id=rec.id %}">
                <div class="card-content white-text">
                    <span class="card-title">{{ rec.name }}</span>
                    <p>Cooking Process Method = {{ rec.cooking_process_method }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
        {% else %}
        {% endif %}

    {% else %}
        <p class="flow-text">No Recipes Found</p>
    {% endif %}

</div>

{% endblock content %}