<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="static/css/materialize.min.css"  media="screen,projection"/>

</head>
<body>
 <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li><a href="/products">Products</a></li>
        <li><a href="/cart">Cart</a></li>
          {% if customer %}
            <li><a href="/customer/profile">{{ customer.name }}</a></li>
            <li><a href="/customer/logout">Logout</a></li>
          {% else %}
            <li><a href="/customer/login">Login</a></li>
          {% endif %}

      </ul>
    </div>
  </nav>
    {% block content %}

    {% endblock %}

<script type="text/javascript" src="static/js/materialize.min.js"></script>
</body>
</html>