{% extends "../extends/main.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/topImage.css' %}">
<link rel="stylesheet" href="{% static 'css/product.css' %}">
{% endblock styles %}

{% block content %}

<div class="top-image">
    <div class="first center-align">
        <span>Our</span>
    </div>
    <div class="second">
        <span>Products</span>
    </div>
</div>

<div class="product-container">
    <div class="row">
        <div class="col s12 m3">
            <h5>Categories</h5>
            <ul>
                {% for category in categories %}
                <li><a href="{% url 'products:all_products' %}?category={{ category | urlencode }}">{{category}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col s12 m9">
            <div class="card-panel">
                    <div class="row">
                
                        {% for product in products %}
                        <div class="col s4 m6 l4">
                            
                            <div class="card">
                                <div class="card-image">
                                    <a href="{% url 'products:product_details' product.id%}">
                                        <img src="/{{  product.picture_1 }}">
                                    </a>
                                    <span class="card-title">{{ product.name }}</span>
                                </div>
                                <div class="card-content black-text">
                                    <p class="flow-text">price:{{ product.price }}</p>
                                    <hr>
                                    <p>
                                        {{ product.description }}
                                    </p>
                
                                    <div class="input-field">
                                        <p class="range-field red-text">
                                            Select quantity:
                                            <input type="range" value="1" name="quantity" id="quantity{{product.id}}" min="1" max="{{ product.available_qty }}" />
                                            {% csrf_token %}
                                        </p>
                                    </div>
                                    <button id="{{ product.id }}" class="btn green addToCart">Add To Cart</button>
                                </div>
                            </div>
                        </div>

                        {% endfor %}
                            
                    </div>
            </div>
        </div>

    </div>

    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>

</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'js/allProducts.js' %}"></script>
{% endblock scripts %}