{% extends "../extends/main.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="carousel carousel-slider col s12">
            <a class="carousel-item"><img src="/{{  product.picture_1 }}"></a>
            <a class="carousel-item"><img src="/{{  product.picture_2 }}"></a>
            <a class="carousel-item"><img src="/{{  product.picture_3 }}"></a>
        </div>
        <div class="col s12">
            <h3>Price</h3>
            <p class="flow-text">
                {{product.price}}
            </p>
            <h3>Description</h3>
            <p class="flow-text">
                {{product.description}}
            </p>
            <form method="post" action="/cart/add">{% csrf_token %}
                <div class="input-field">
                    <p class="range-field red-text">
                        Select quantity:
                        <input type="range" value="1" name="quantity" id="quantity" min="1" max="{{ product.available_qty }}" />
                    </p>
                    <input name="product_id" hidden type="number" value="{{ product.id }}">
                </div>
                <input class="btn green" type="submit" value="Add to cart">
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'js/product.js' %}"></script>
{% endblock scripts %}