{% extends "../extends/main.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/topImage.css' %}">
<link rel="stylesheet" href="{% static 'css/my-card.css' %}">
<link rel="stylesheet" href="{% static 'css/my-btn.css' %}">
<link rel="stylesheet" href="{% static 'css/my-link.css' %}">
<link rel="stylesheet" href="{% static 'css/product.css' %}">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


{% endblock styles %}

{% block content %}

<div class="top-image">
    <div class="first center-align">
        <span>Our</span>
    </div>
    <div class="second">
        <span>Products</span>
    </div>
</div>

<div class="product-container">
    <div class="row">
        <div class="col s12 m3">
            <div class="my-card">
                <div class="card-panel contains">

                    <span>Categories</span>
                    <p>
                        <ul class="my-link">
                            <li><a href="?category=vegetarian">All Vegetarian </a></li>
                            <li><a href="?category=low_fat"> Low Fat</a></li>
                            <li><a href="?category=low_sugar">Low Sugar</a></li>
                        </ul> 
                    </p>
                
                </div>
            </div>

        </div>
        <div class="col s12 m9">
            <div class="card-panel">
                    <div class="row">
                        <h4 class="center-align">Our Products</h4>
                        {% for product in products %}
                        <div class="col s4 m6 l4">
                            
                            <div class="card z-depth-0">
                                <div class="card-image">
                                    <a href="{% url 'products:product_details' product.id%}">
                                        <img style="border: 1px solid grey;padding: 10px;" src="/{{  product.picture_1 }}">
                                    </a>
                                    <span class="card-title"></span>
                                </div>
                                <div class="card-content black-text">
                                    <p class="center-align grey-text">{{ product.name }}</p>
                                    <p class="flow-text center-align"><i class="fa fa-inr"></i> {{ product.price }}</p>
{#                                    <div class="input-field">#}
{#                                        <p class="range-field grey-text">#}
{#                                            Select quantity:#}
{#                                            <input type="number" value="1" name="quantity" id="quantity{{product.id}}" min="1" max="{{ product.available_qty }}" value="1" />#}
                                            {% csrf_token %}
{#                                        </p>#}
{#                                    </div>#}
                                    <div class="center-align">
                                        <button id="{{ product.id }}"  class="btn z-depth-0 my-btn addToCart" name="{{ product.name }}">Add To Cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% endfor %}
                            
                    </div>
            </div>
        </div>

    </div>

    <div id="modal1" class="modal">
        <div class="modal-content">
            <h5>Modal Header</h5>
            <p>Select Quantity</p>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col s6 align-right">
{#                    Quantity#}
                </div>
                <div class="col s3 align-right">
                   <input type="number" value="1" name="quantity" id="quantity" style="border: 1px solid black; padding-left: 10px;" />
                </div>
                <div class="col s3">
                    <a href="#"  class="modal-close waves-effect waves-green btn-flat addtoCart-modal">Add to Cart</a>
                </div>
            </div>


        </div>
    </div>

</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'js/allProducts.js' %}"></script>
{% endblock scripts %}