{% extends '../extends/main.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock styles %}

{% block content %}
<div class="container">
    <div class="row form-container">
        <h3 class="white-text center-align">Forget Password</h3>

        {% if message %}
        <div class="col s12 red white-text section" style="margin: 10px;">
            <p>
                {{ message }}
            </p>
        </div>
        {% endif %}

        <form method="post">
            <div class="input-field col s12">
                <input required name="email" type="email" id="email" />
                <label for="email">Enter Your Email</label>
            </div>
            {% csrf_token %}
            <input required class="btn" type="submit" value="Submit" />
        </form>

        <div class="col s12 m6 center-align">
            <h4><a class="white-text" href="{% url 'customer:signup' %}">Signup</a></h4>
        </div>
        <div class="col s12 m6 center-align">
            <h4><a class="white-text" href="{% url 'customer:forgot' %}">Login</a></h4>
        </div>
    </div>
</div>


{% endblock content %}