{% extends '../extends/main.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link rel="stylesheet" href="{% static 'css/topImage.css' %}">
<link rel="stylesheet" href="{% static 'css/my-btn.css' %}">
{% endblock styles %}

{% block content %}
<div class="top-image">
    <div class="second center-align">
        <span>
            Login
        </span>
    </div>
</div>

<div class="row form-container card-panel">
    <div class="col s12 m5">
        <h6 class="heading">New Customer</h6>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore molestiae ullam placeat nobis nesciunt quos delectus illo, sequi voluptatibus ut, iste earum excepturi veniam, quis non. Ipsa impedit quam error.
        </p>
        <a class="btn z-depth-0 my-btn" href="{% url 'customer:signup' %}">Signup</a>
            {% comment %} <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a> {% endcomment %}
    </div>

    <div class="col s0 m1"></div>

    <div class="col s12 m5">
            <h6 class="heading">LOGIN FORM</h6>

            <p>If you have an account with us, please login.</p>
            {% if message %}
            <div class="red center-align white-text" style="margin: 10px;border-radius: 4px;">
                <p>
                    {{ message }}
                </p>
            </div>
            {% endif %}
    
            <form method="post">
                <label for="email">Enter Your Email</label>
                <input required class="my-form" name="email" type="email" id="email" />


                <label for="password">Enter Your Password</label>
                <input required class="my-form" name="password" type="password" id="password" />
                {% csrf_token %}
                <input required class="btn z-depth-0 my-btn" type="submit" value="Submit" />
                <a class="btn z-depth-0 my-btn" href="{% url 'customer:forgot' %}">Forgot Password</a>
            </form>
    </div>
</div>


{% endblock content %}