<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
{{ title }}

<form method="post"> {% csrf_token %}
    <input name="name" type="text" palceholder="Full Name"/><br>
    <input name="email" type="email" palceholder="Email"/><br>
    <input name="password" type="password" palceholder="Password"/><br>
    <input type="submit" value="Submit"/>
</form>
{{ message }}
</body>
</html>

</body>
</html>