{% extends '../extends/main.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock styles %}

{% block content %}

<div class="container profile-content">
    <div class="row form-container">
        <h3 class="white-text center-align">LOGIN FORM</h3>

        {% if message %}
        <div class="col s12 red white-text section" style="margin: 10px;">
            <p>
                {{ message }}
            </p>
        </div>
        {% endif %}

        <form method="post">
            <div class="input-field col s12">
                <input id="street" name="street" type="text" required />
                <label for="street">Enter Your Street Address</label>
            </div>
            <div class="input-field col s12">
                <input id="city" name="city" type="text" required />
                <label for="city">Enter Your City</label>
            </div>
            <div class="input-field col s12">
                <input id="state" name="state" type="text" required />
                <label for="state">Enter Your State</label>
            </div>
            <div class="input-field col s12">
                <input id="country" name="country" type="text" required />
                <label for="country">Enter Your Country</label>
            </div>
            <div class="input-field col s12">
                <input id="pincode" name="pincode" type="number" required />
                <label for="pincode">Enter Your Pincode</label>
            </div>
            <div class="input-field col s12">
                <input id="dob" name="dob" type="date" required />
                <label for="dob">Enter Your Date Of Birth</label>
            </div>
            {% csrf_token %}
            <input class="btn" type="submit" value="Submit" />
        </form>

    </div>
</div>


{% endblock content %}

{% block scripts %}
<script src="{% static 'js/profile.js' %}"></script>
{% endblock scripts %}