{% extends '../extends/main.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link rel="stylesheet" href="{% static 'css/topImage.css' %}">
<link rel="stylesheet" href="{% static 'css/my-btn.css' %}">
{% endblock styles %}

{% block content %}

<div class="top-image">
    <div class="first center-align">
        <span>
            Update
        </span>
    </div>
    <div class="second center-align">
        <span>
            Password
        </span>
    </div>
</div>

<div class="row form-container card-panel">
    <div class="col s12 m5">
        <h6 class="heading">New Customer</h6>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore molestiae ullam placeat nobis nesciunt quos delectus illo, sequi voluptatibus ut, iste earum excepturi veniam, quis non. Ipsa impedit quam error.
        </p>
        <a class="btn z-depth-0 my-btn" href="{% url 'customer:signup' %}">Signup</a>
    </div>

    <div class="col s0 m1"></div>

    <div class="col s12 m5">
            <h6 class="heading">CHANGE PASSWORD</h6>

            <p>You can change your password here</p>
            {% if message %}
            <div class="red center-align white-text" style="margin: 10px;border-radius: 4px;">
                <p>
                    {{ message }}
                </p>
            </div>
            {% endif %}
    
            <form method="post">

                <label for="oldPassword">Enter Your Old Password</label>
                <input class="my-form" id="oldPassword" name="oldPassword" type="password" />


                <label for="newPassword">Enter New Password</label>
                <input class="my-form" id="newPassword" name="newPassword" type="password" />
                {% csrf_token %}
                <input class="btn z-depth-0 my-btn" type="submit" value="Change" />                
            </form>
    </div>
</div>

{% endblock content %}