{% extends '../extends/main.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock styles %}

{% block content %}

{% include "../extends/sidenav.html" %}

<div class="container profile-content">
    <div class="row form-container">
        <h3 class="white-text center-align">CHANGE PASSWORD</h3>

        {% if message %}
        <div class="col s12 red white-text section" style="margin: 10px;">
            <p>
                {{ message }}
            </p>
        </div>
        {% endif %}

        <form method="post">
            <div class="input-field col s12">
                <input id="oldPassword" name="oldPassword" type="password" />
                <label for="oldPassword">Enter Your Old Password</label>
            </div>
            <div class="input-field col s12">
                <input id="newPassword" name="newPassword" type="password" />
                <label for="newPassword">Enter New Password</label>
            </div>
            {% csrf_token %}
            <input class="btn" type="submit" value="Submit" />
        </form>
    </div>
</div>
</div>


{% endblock content %}