.cross {
    border: none;
    background: none;
    color: red;
}

.cross:hover {
    cursor: pointer;
    color: white;
    background: red;
}
.my-form{
    border: 1px solid grey !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    height: 30px !important;
}