.form-container{
    margin: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.heading{
    border-bottom: 2px solid grey;
}

.my-form{
    border: 1px solid grey !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    height: 30px !important;
}