.profile-container{
    margin: 10px;
}

.name{
    text-transform: uppercase;
    font-weight: 700;
}

.sub-heading{
    font-weight: 700;
}

.address-field{
    margin: 0;
    padding: 0;
}

.my-btn{
    margin-top: 10px;
}

.my-card .contains{
    position: relative;
}

.my-card span{
    position: absolute;
    top: 0px;
    left: -10px;
    height: 100px;
    font-size: 50px;
    color: white;
    background: #685c88;
    padding: 10px;
}

.my-card span::after{
    content: "";
    position: absolute;
    left: 0px;
    top: 100px;
    width: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: #d95451 #d95451 transparent transparent;
}

.my-card p{
    margin-top: 100px;
    color: #333333;
}

.my-link>li{
    list-style-type: circle !important;
    margin-top: 20px;
}

.my-link li a{
    color: grey;
}

.my-link li a:hover{
    color: #d95451;
}