{% extends "../extends/main.html" %}
{% load static %}

{% block content %}

<br><br>

<div class="container">
    {{ massage }}
        <form method="post" enctype="multipart/form-data" > {% csrf_token %}

{#            <input type="text" hidden value="{{ product.id }}">#}
            Name :  <input type="text" name="name"  >
            Size : <input type="number" name="size" >
            Price : <input type="number" name="price" >
            B2B Price : <input type="number" name="b2b_price" >
            Energy :  <input type="number" name="energy"  >
            Protein : <input type="number" name="protein" >
            Carbohydrates : <input type="number" name="carbohydrates">
            Sugar : <input type="number" name="sugar" value="{{ product.sugar }}">
            Fat : <input type="number" name="fat" value="{{ product.fat }}">

            Available Qty : <input type="number" name="available_qty" >
            Shelf Life : <input type="number" name="shelf_life"  >
            Description : <textarea name="description" ></textarea>
            Storage : <textarea name="storage" ></textarea>
            Uses : <textarea name="uses"></textarea>
            Benifits : <textarea name="benefits"></textarea>
            Ingridients :  <textarea name="ingridients" ></textarea>
            Directions : <textarea name="directions"></textarea>
            Category :
{#            <input type="text"  name="category">#}
                <select name="category">
                    <option value="Bakery" selected>Bakery</option>
                    <option value="Coating and Breading">Coating & Breading</option>
                    <option value="Staple Foods">Staple Foods</option>
                    <option value="Sauces, Pastes, Stock">Sauces, Pastes, Stock</option>
                    <option value="Seasonings and Marinades">Seasonings & Marinades</option>
                </select>

            Picture1 : <input type="file"  name="picture_1"><br>
            Picture2 : <input type="file"  name="picture_2"><br>
            Picture3 : <input type="file"  name="picture_3"><br>
            Vegetrain :
                   <div class="switch">
                        <label>
                          True
                          <input type="checkbox" name="is_vegetarian" />
                          <span class="lever"></span>
                          False
                        </label>
                    </div>

            Added Msg :
                   <div class="switch">
                        <label>
                          True
                          <input type="checkbox" name="added_msg" >
                          <span class="lever"></span>
                          False
                        </label>
                    </div>

            Low Salt :
                   <div class="switch">
                        <label>
                          True
                          <input type="checkbox" name="low_salt" >
                          <span class="lever"></span>
                          False
                        </label>
                    </div>

            built_in_tenderizer :
                   <div class="switch">
                        <label>
                          True
                          <input type="checkbox" name="built_in_tenderizer" >
                          <span class="lever"></span>
                          False
                        </label>
                    </div>

            multi_application :
                   <div class="switch">
                        <label>
                          True
                          <input type="checkbox" name="multi_application" >
                          <span class="lever"></span>
                          False
                        </label>
                    </div>

            three_in_one :
                   <div class="switch">
                        <label>
                          True
                          <input type="checkbox" name="three_in_one" >
                          <span class="lever"></span>
                          False
                        </label>
                    </div>
            easy_to_use :
                   <div class="switch">
                        <label>
                          True
                          <input type="checkbox" name="easy_to_use" >
                          <span class="lever"></span>
                          False
                        </label>
                    </div>
            egg_free :
                   <div class="switch">
                        <label>
                          True
                          <input type="checkbox" name="egg_free" >
                          <span class="lever"></span>
                          False
                        </label>
                    </div>
            <br>
{#            Added Date : <input type="date"  value="{{ product.added_date }}">#}
            <input type="submit"  value="Save">


        </form>

</div><br><br><br>

{% endblock content %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function(){
        $('select').formSelect();
    });
</script>
{% endblock scripts %}