{% extends "../extends/main.html" %}
{% load static %}

{% block content %}

<div class="top-image">
    <div class="first center-align">Your</div>
    <div class="second center-align">Cart</div>
</div>

<div class="container">
    {% if orders %}
    <table>
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Email</th>
                <th>Date</th>
                <th>Total</th>
                <th>Payment</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for order in orders %}
            <tr>
{#                <td><img src="/{{  c.product_id.picture_1 }}" alt="product image" width="50px" height="50px"></td>#}

                <td>{{ order.customer_id.name }}</td>
                <td>{{ order.customer_id.email }}</td>
                <td>{{ order.order_date  }}</td>
                <td>{{ order.total_price }}</td>
                <td>{{ order.is_payment_done }}</td>
                <td>
                    <form method="post" action="/managecs/orders/single">{% csrf_token %}
                        <input name="order_id" type="number" hidden value="{{ order.id }}">
                        <input name="submit" type="submit" class="cross" value="X">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>

{% endblock content %}