{% extends "../extends/main.html" %}
{% load static %}

{% block content %}

<br><br>

<div class="container">

    {% if order %}
        Order Id :  {{ order.id }}<br>
        Customer Name : {{ order.customer_id.name }}<br>
        Customer Email : {{ order.customer_id.email }}<br>
        Customer mobile : {{ order.customer_id.mobile }}<br>
        Customer B2B : {{ order.customer_id.is_b2b }}<br>
        {% for add in address %}
        Customer Address : {{ add.street }} , {{ add.city }}
        {% endfor %}<br>
        Total Price : {{ order.total_price }}<br>
        Send : <br>
        <h5>Products</h5>
        <table>
            <thead>
                <th></th>
                <th>Cart Id</th>
                <th>Product Id</th>
                <th>Product Name</th>
                <th>Quantity</th>

            </thead>
            <tbody>
                {% for c in cart %}
                    <tr>
                    <td><img src="/{{ c.product_id.picture_1 }}" style="width: 50px; height: 50px;" alt="product"> </td>
                    <td>{{ c.id }}</td>
                    <td>{{ c.product_id.id }}</td>
                    <td>{{ c.product_id.name }}</td>
                    <td>{{ c.quantity }}</td>
                    </tr>
                {% endfor %}


            </tbody>
        </table>











    {% else %}
    <div class="row">
        <div class="col s12 center-align">
            <h3>Grab Some Stuff</h3>
        </div>
    </div>
    {% endif %}
</div>

{% endblock content %}