{% extends "../extends/main.html" %}
{% load static %}

{% block content %}

<br><br>

<div class="container">

    {% if product %}
        <form> {% csrf_token %}
            <input required type="text" hidden value="{{ product.id }}">
            Name :  <input required type="text" name="name"  value="{{ product.name }}">
            Size : <input required type="number" name="size" value="{{ product.size }}">
            Price : <input required type="number" name="price" value="{{ product.price }}">
            B2B Price : <input required type="number" name="b2b_price" value="{{ product.b2b_price }}">
            Energy :  <input required type="number" name="energy"  value="{{ product.energy }}">
            Protein : <input required type="number" name="protein" value="{{ product.protein }}">
            Carbohydrates : <input required type="number" name="carbohydrates" value="{{ product.carbohydrates }}">
            Sugar : <input required type="number" name="sugar" value="{{ product.sugar }}">
            Fat : <input required type="number" name="fat" value="{{ product.fat }}">
            Vegetrain : <input required type="checkbox" name="is_vegetarian" {% if is_vegetarian %} checked="true" {% endif %}>
            Available Qty : <input required type="number" name="available_qty" value="{{ product.available_qty }}">
            Added Msg : <input required type="radio" name="added_msg" value="{{ product.added_msg }}">
            Shelf Life : <input required type="number"  value="{{ product.shelf_life }}">
            Description : <textarea >{{ product.description }}</textarea>
            Storage : <textarea >{{ product.storage }}</textarea>
            Uses : <textarea >{{ product.uses }}</textarea>
            Benifits : <textarea >{{ product.benefits }}</textarea>
            Ingridients :  <textarea name="ingridients" >{{ product.ingridients }}</textarea>
            Directions : <textarea >{{ product.directions }}</textarea>
            Category : <input required type="text"  value="{{ product.category }}">
{#            Added Date : <input type="date"  value="{{ product.added_date }}">#}
{#            <input type="submit"  value="Update">#}
        </form>
        <img src="/{{product.picture_1  }}" style="height: 100px; width: 100;">
        <img src="/{{product.picture_2  }}" style="height: 100px; width: 100;">
        <img src="/{{product.picture_3  }}" style="height: 100px; width: 100;">
    {% endif %}
</div><br><br><br>

{% endblock content %}