{% extends "../extends/main.html" %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link rel="stylesheet" href="{% static 'css/topImage.css' %}">
<link rel="stylesheet" href="{% static 'css/my-btn.css' %}">
{% endblock styles %}

{% block content %}
<div class="top-image">
    <div class="first center-align">
        <span>
            Write
        </span>
    </div>
    <div class="second center-align">
        <span>
            Blog
        </span>
    </div>
</div>

<div class="row form-container card-panel">
    <div class="col s12 m5">
        <h6 class="heading">New Customer</h6>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore molestiae ullam placeat nobis nesciunt quos delectus illo, sequi voluptatibus ut, iste earum excepturi veniam, quis non. Ipsa impedit quam error.
        </p>
        <a class="btn z-depth-0 my-btn" href="{% url 'customer:signup' %}">Signup</a>
    </div>

    <div class="col s0 m1"></div>

    <div class="col s12 m5">
            <h6 class="heading">Write A Blog</h6>

            <p>Hey {{ Customer.name }}, here You can write a blog for our product</p>

            {% if message %}
            <div class="red center-align white-text" style="margin: 10px;border-radius: 4px;">
                <p>
                    {{ message }}
                </p>
            </div>
            {% endif %}
    
            <form method="post" enctype="multipart/form-data" >{% csrf_token %}
                <label>Name</label>
                <input class="my-form" name="name" type="text" />

                <label>Food Group</label>
                <input class="my-form" name="food_group" type="text" />

{#                <label>Name</label>#}
{#                <input class="my-form" name="no_of_portions" type="number" />#}

                    <label>Our Product Used</label>
                    <select class="my-form" multiple style="border: 1px solid black; !important;" name="use_of_products">
                        {%  for product in products %}
                            <option value="{{ product.id }}">{{ product.name }}</option>
                        {% endfor %}
                    </select>

{#                <input class="my-form" name="use_of_products" type="text" />#}

                <label>Ingredients</label>
                <input class="my-form" name="ingredients" type="text" />

                <label>Cooking Process Name</label>
                <input class="my-form" name="cooking_process_name" type="text" />

                <label>Cooking Process Method</label>
                <textarea class="my-form" name="cooking_process_method"  ></textarea>

                <label>Tags</label>
                <input class="my-form" name="tags" type="text" />

                <label>Youtube Video Url</label>
                <input class="my-form" name="video_url" type="text" />


                <label>Picture 1</label>
                <input name="picture_1" type="file" style="display: block;margin-bottom: 20px;"/>


                <label>Picture 2</label>
                <input name="picture_2" type="file" style="display: block;margin-bottom: 20px;"/>

                <label>Picture 3</label>
                <input name="picture_3" type="file" style="display: block;margin-bottom: 20px;"/>
                <br>
                <input class="btn my-btn z-depth-0" name="submit" type="submit" value="Submit" />
            </form>
    </div>
</div>


{% endblock content %}



{% comment %} 
{{ customer.name }}
{{ customer.email }}
<img height="100" width="100" src="/{{ customer.profile_pic }}">
 {% endcomment %}
{% block scripts %}
<script type="text/javascript">
    $(document).ready(function(){
        $('select').formSelect();
    });
</script>
{% endblock scripts %}
