<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{ customer.name }}
{{ customer.email }}
<img height="100" width="100" src="/{{ customer.profile_pic }}">

    <form method="post" enctype="multipart/form-data" >{% csrf_token %}
        <input name="name" placeholder="name" type="text" />
        <input name="food_group" placeholder="food_group" type="text" />
        <input name="no_of_portions" placeholder="no_of_portions" type="number" />
        <input name="use_of_goods" placeholder="use_of_goods" type="text" />
        <input name="ingredients" placeholder="ingredients" type="text" />
        <input name="cooking_process_name" placeholder="cooking_process_name" type="text" />
        <input name="cooking_process_method" placeholder="cooking_process_method" type="text" />
        <input name="tags" placeholder="tags" type="text" />
        <input name="picture_1" placeholder="" type="file" />
        <input name="picture_2" placeholder="" type="file" />
        <input name="picture_3" placeholder="" type="file" />
        <input name="submit" placeholder="" type="submit" value="Submit" />
    </form>

</body>
</html>