{% extends "../extends/main.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/topImage.css' %}">
<link rel="stylesheet" href="{% static 'css/my-btn.css' %}">
<link rel="stylesheet" href="{% static 'css/my-card.css' %}">
<style>
    .flow-text{
        margin: 0 !important;
    }
</style>
{% endblock styles %}

{% block content %}

<div class="top-image">
    <div class="first center-align">
        <span>
            Read
        </span>
    </div>
    <div class="second center-align">
        <span>
            Blog
        </span>
    </div>
</div>

{% if recipes %}

<div class="blog-container" style="margin: 10px;">
    <div class="row">
        <div class="col s12 m4">

        </div>
        <div class="col s12 m8">
            <div class="my-card">
                <div class="card-panel contains">
            
                    <span>Blog</span>
                    <p>
                        
                        <h4 class="left" style="text-transform: uppercase;">{{ recipes.name }}</h4>
                        <h5 class="right" style="border: 1px solid grey; padding: 5px;">{{ recipes.add_date }}</h5>
                        <div class="center-align">
                            <div class="carousel carousel-slider">
                                <a class="carousel-item" href="#one!">
                                    <img src="/{{recipes.picture_1  }}" />
                                </a>
                                <a class="carousel-item" href="#two!">
                                    <img src="/{{recipes.picture_2  }}" />
                                </a>
                                <a class="carousel-item" href="#three!">
                                    <img src="/{{recipes.picture_3  }}"  />
                                </a>                 
                            </div>
                        </div>
                        
                        <p class="center-align" style="margin-top: 30px !important;">
                            Submitted-By: {{ recipes.customer_id.name }}
                        </p>
        
                        <p class="flow-text">
                            Our Products Used:
                        </p>

                        {% for pro in recipes.use_of_products %}
                        <div class="chip">
                            {{ pro }}
                        </div>
                        {% endfor %}

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}
<h3 class="center-align">No Such Recipe</h3>
{% endif %}

{% endblock content %}

{% block scripts %}
<script>
    $('.carousel.carousel-slider').carousel({
        fullWidth: true
    });
</script>
{% endblock scripts %}