{% extends "../extends/main.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/topImage.css' %}">
<link rel="stylesheet" href="{% static 'css/my-btn.css' %}">
<link rel="stylesheet" href="{% static 'css/my-card.css' %}">
<style>
    .flow-text{
        margin: 0 !important;
    }
</style>
{% endblock styles %}

{% block content %}

<div class="top-image">
    <div class="first center-align">
        <span>
            Read
        </span>
    </div>
    <div class="second center-align">
        <span>
            Blog
        </span>
    </div>
</div>

{% if recipes %}

<div class="blog-container" style="margin: 10px;">
    <div class="row">
        <div class="col s12 m4">

        </div>
        <div class="col s12 m8">
            <div class="my-card">
                <div class="card-panel contains">
            
                    <span>Blog</span>
                    <p>
                        {% for recipe in recipes %}
                        <h4 class="left" style="text-transform: uppercase;">{{ recipe.name }}</h4>
                        <h5 class="right" style="border: 1px solid grey; padding: 5px;">{{ recipe.add_date }}</h5>
                        <div class="center-align" style="max-height: 300px;">
                            <div class="carousel carousel-slider">
                                <a class="carousel-item" href="#one!">
                                    <img src="/{{recipe.picture_1  }}" style="max-height: 300px;" />
                                </a>
                                <a class="carousel-item" href="#two!">
                                    <img src="/{{recipe.picture_2  }}" style="max-height: 300px;"/>
                                </a>
                                <a class="carousel-item" href="#three!">
                                    <img src="/{{recipe.picture_3  }}" style="max-height: 300px;" />
                                </a>                 
                            </div>
                        </div>
                        
                        <p class="center-align" style="margin-top: 30px !important;">
                            Submitted-By: {{ recipe.customer_id.name }}
                        </p>
        
                        <p class="flow-text">
                            Our Products Used:
                        </p>

                        {% for pro in recipe.use_of_products %}
                        <div class="chip">
                            {{ pro }}
                        </div>
                        {% endfor %}

                        <br>

                        <a href="{% url 'blog:recipesDetail' recipe.id %}" class="btn z-depth-0 my-btn" style="margin-top: 30px;margin-bottom: 50px;" type="button">Read More</a>
        
                        <hr>
                        
                        {% endfor %}
                
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}
<h3 class="center-align">Nothing wrote yet. Be the first one to write</h3>
{% endif %}

{% endblock content %}

{% block scripts %}
<script>
	 $(document).ready(function(){
	     $('.carousel.carousel-slider').carousel({
		    fullWidth: true,
		    indicators: true
		  });
      
	  });
    // $('.carousel.carousel-slider').carousel({
    //     fullWidth: true
    // });
</script>
{% endblock scripts %}