<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% for pro in products %}
        <li>{{ pro.product.id }}</li>
        <li>{{ pro.product.name }}</li>
        <li>{{ pro.product.description }}</li>
        <li>{{ pro.product.price }}</li>
        <li>{{ pro.product.protein }}</li>
        <li>{{ pro.product.ingridients }}</li>
        <li>{{ pro.product.uses }}</li>
        <li>{{ pro.product.available_qty }}</li>
        <li>{{ pro.product.benefits }}</li>
        <li>{{ pro.product.directions }}</li>
        <li>{{ pro.product.added_date }}</li>
        <img src="/{{  pro.product.picture_1 }}" height="200" width="200" />
        <img src="/{{  pro.product.picture_2 }}" height="200" width="200" />
        <img src="/{{  pro.product.picture_3 }}" height="200" width="200" />
        <form method="post" action="/cart/delete">{% csrf_token %}
            <input name="cart_id" type="number" hidden value="{{ pro.cart_id }}" >
            <input name="submit" type="submit" value="Delete form cart">
        </form>
    {% endfor %}<br>
    Total : {{ total_ammount }}

</body>
</html>